!!! 5
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : ""
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"
    / Le fav and touch icons
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/

  %body
    .container
      .content.row
        .span3
          #logo
            = image_tag 'logo.png'
        .span9
          / .slogan= Setting.get('HEADER-SLOGAN', '7 лет - полёт нормальный')
        .clear

        .row
          .span3
            %ul
              = cms_pages_menu
            / = render 'layouts/left_menu'

          .span9
            = render 'layouts/message'
            = yield

        #footer
          &copy; Рекламное агентство &laquo;Высший пилотаж&raquo;, 2012
